<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iflytek.knowledge.tools.mapper.GroupMapper">
    <select id="selectGroup" resultType="com.iflytek.knowledge.tools.entity.Group">
        SELECT id,name FROM `group`
    </select>
</mapper>